<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
 <appSettings>
		<!-- Connection pooling must be turned off because we use application roles -->
		<add key="SQL.ConnectionString" value="Server = VAVDB2;Database = PAF_DATA;Pooling=False;Integrated Security=True;Persist Security Info=False;" />
		<add key="SchemaFolder" value="C:\Documents and Settings\caro2009\My Documents\Visual Studio 2005\Projects\PAF\bin" />    
	</appSettings>
</configuration>
