USE [master]
GO
/****** Object:  Database [Stock]    Script Date: 10/08/2010 09:32:48 ******/
CREATE DATABASE [Stock] ON  PRIMARY 
( NAME = N'Stock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\Stock.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Stock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\Stock_log.LDF' , SIZE = 2112KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stock]
GO
/****** Object:  User [stockuser]    Script Date: 10/08/2010 09:32:48 ******/
CREATE USER [stockuser] FOR LOGIN [stockuser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [stockadmin]    Script Date: 10/08/2010 09:32:48 ******/
CREATE USER [stockadmin] FOR LOGIN [stockadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Localisation]    Script Date: 10/08/2010 09:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localisation](
	[LocalisationID] [int] IDENTITY(1,1) NOT NULL,
	[Localisation] [varchar](250) NULL,
 CONSTRAINT [PK_Localisation] PRIMARY KEY CLUSTERED 
(
	[LocalisationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Localisation] ON
INSERT [dbo].[Localisation] ([LocalisationID], [Localisation]) VALUES (3, N'AL SEC')
INSERT [dbo].[Localisation] ([LocalisationID], [Localisation]) VALUES (4, N'AMBUL')
INSERT [dbo].[Localisation] ([LocalisationID], [Localisation]) VALUES (5, N'BUREAU')
SET IDENTITY_INSERT [dbo].[Localisation] OFF
/****** Object:  Table [dbo].[Fournisseur]    Script Date: 10/08/2010 09:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fournisseur](
	[FournisseurID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](250) NULL,
	[Adresse1] [nvarchar](250) NULL,
	[Adresse2] [nvarchar](250) NULL,
	[Adresse3] [nvarchar](250) NULL,
	[Adresse4] [nvarchar](250) NULL,
	[Tel] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[AdresseEmail] [nvarchar](250) NULL,
	[Observation] [nvarchar](250) NULL,
	[Interlocuteur] [nvarchar](250) NULL,
	[Tlx] [nvarchar](250) NULL,
 CONSTRAINT [PK_Fournisseur_1] PRIMARY KEY NONCLUSTERED 
(
	[FournisseurID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [PK_Fournisseur] ON [dbo].[Fournisseur] 
(
	[FournisseurID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fournisseur] ON
INSERT [dbo].[Fournisseur] ([FournisseurID], [Nom], [Adresse1], [Adresse2], [Adresse3], [Adresse4], [Tel], [Fax], [AdresseEmail], [Observation], [Interlocuteur], [Tlx]) VALUES (33, N'CLPI', N'Ducos Factory-BP 11252', N'98802 Nouméa Cedex', NULL, NULL, N'25.28.91', N'26.99.59', NULL, NULL, N'Christian LEROY', N'info@clpi.nc')
INSERT [dbo].[Fournisseur] ([FournisseurID], [Nom], [Adresse1], [Adresse2], [Adresse3], [Adresse4], [Tel], [Fax], [AdresseEmail], [Observation], [Interlocuteur], [Tlx]) VALUES (34, N'CIPAC MEDICAL', N'210 Rue Gervolino', N'PK6 BP 2694', N'98846 Nouméa Cedex', NULL, N'41.46.48/78.92.39', N'41.46.31', NULL, NULL, N'Fréderic MAUREL', N'fmaurel@cipac-medical.nc')
INSERT [dbo].[Fournisseur] ([FournisseurID], [Nom], [Adresse1], [Adresse2], [Adresse3], [Adresse4], [Tel], [Fax], [AdresseEmail], [Observation], [Interlocuteur], [Tlx]) VALUES (35, N'MAISON DE L''INCENDIE', N'1, rue J.Banuelos', N'BP 7270 ZI Ducos', N'98801 Nouméa', NULL, N'28.40.20/76.57.07', N'25.50.44', NULL, NULL, N'Alain BERLHE', N'maisondelincendie@lagoon.nc')
SET IDENTITY_INSERT [dbo].[Fournisseur] OFF
/****** Object:  Table [dbo].[Famille]    Script Date: 10/08/2010 09:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Famille](
	[FamilleID] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [varchar](250) NULL,
 CONSTRAINT [PK_Famille] PRIMARY KEY CLUSTERED 
(
	[FamilleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Famille] ON
INSERT [dbo].[Famille] ([FamilleID], [Libelle]) VALUES (39, N'PIECES DE JONCTION')
INSERT [dbo].[Famille] ([FamilleID], [Libelle]) VALUES (40, N'TUYAUX  SOUPLES')
INSERT [dbo].[Famille] ([FamilleID], [Libelle]) VALUES (41, N'LANCES ET GENERATEUR MOUSSES')
SET IDENTITY_INSERT [dbo].[Famille] OFF
/****** Object:  Table [dbo].[Article]    Script Date: 10/08/2010 09:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[FamilleID] [int] NULL,
	[Designation] [varchar](250) NOT NULL,
	[Reference] [varchar](250) NULL,
	[PrixAchat] [decimal](18, 2) NULL,
	[Observation] [varchar](250) NULL,
	[Stock] [int] NULL,
	[StockInitial] [int] NULL,
	[DateInventaire] [date] NULL,
	[LocalisationID] [int] NULL,
	[Exoneration] [bit] NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Article] ON
INSERT [dbo].[Article] ([ArticleID], [FamilleID], [Designation], [Reference], [PrixAchat], [Observation], [Stock], [StockInitial], [DateInventaire], [LocalisationID], [Exoneration]) VALUES (1, 62, N'ATTELLE DE TRACTION ADULTE DONWAY', NULL, CAST(0.00 AS Decimal(18, 2)), NULL, 1, NULL, CAST(0x63330B00 AS Date), 3, 0)
INSERT [dbo].[Article] ([ArticleID], [FamilleID], [Designation], [Reference], [PrixAchat], [Observation], [Stock], [StockInitial], [DateInventaire], [LocalisationID], [Exoneration]) VALUES (2, 62, N'ATTELLE TRACTION ADULTE DAVIS', NULL, CAST(0.00 AS Decimal(18, 2)), NULL, 2, NULL, CAST(0x63330B00 AS Date), 3, 0)
INSERT [dbo].[Article] ([ArticleID], [FamilleID], [Designation], [Reference], [PrixAchat], [Observation], [Stock], [StockInitial], [DateInventaire], [LocalisationID], [Exoneration]) VALUES (3, 46, N'CARTOUCHES P 41 AC/MS-SEC', NULL, CAST(0.00 AS Decimal(18, 2)), N'Matériel en exonération', 3, NULL, CAST(0x63330B00 AS Date), 3, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
SET IDENTITY_INSERT [dbo].[Article] OFF
/****** Object:  Table [dbo].[Sortie]    Script Date: 10/08/2010 09:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sortie](
	[SortieID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[ArticleID] [int] NOT NULL,
	[Quantite] [int] NOT NULL,
	[Type] [varchar](250) NULL,
	[Beneficiaire] [varchar](250) NULL,
	[Observation] [varchar](250) NULL,
 CONSTRAINT [PK_Sortie] PRIMARY KEY CLUSTERED 
(
	[SortieID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Entree]    Script Date: 10/08/2010 09:32:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entree](
	[EntreeID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[ArticleID] [int] NOT NULL,
	[Quantite] [int] NOT NULL,
	[FournisseurID] [int] NULL,
	[Type] [varchar](250) NULL,
	[Observation] [varchar](250) NULL,
 CONSTRAINT [PK_Entree] PRIMARY KEY CLUSTERED 
(
	[EntreeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Article_Stock]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_Stock]  DEFAULT ((0)) FOR [Stock]
GO
/****** Object:  Default [DF_Article_DateInventaire]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_DateInventaire]  DEFAULT (getdate()) FOR [DateInventaire]
GO
/****** Object:  Default [DF_Article_Exoneration]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_Exoneration]  DEFAULT ((0)) FOR [Exoneration]
GO
/****** Object:  Default [DF_Sortie_Date]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Sortie] ADD  CONSTRAINT [DF_Sortie_Date]  DEFAULT (getdate()) FOR [Date]
GO
/****** Object:  Default [DF_Entree_Date]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Entree] ADD  CONSTRAINT [DF_Entree_Date]  DEFAULT (getdate()) FOR [Date]
GO
/****** Object:  ForeignKey [FK_Article_Localisation]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_Article_Localisation] FOREIGN KEY([LocalisationID])
REFERENCES [dbo].[Localisation] ([LocalisationID])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_Article_Localisation]
GO
/****** Object:  ForeignKey [FK_Sortie_Article]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Sortie]  WITH CHECK ADD  CONSTRAINT [FK_Sortie_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[Sortie] CHECK CONSTRAINT [FK_Sortie_Article]
GO
/****** Object:  ForeignKey [FK_Entree_Article]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Entree]  WITH CHECK ADD  CONSTRAINT [FK_Entree_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[Entree] CHECK CONSTRAINT [FK_Entree_Article]
GO
/****** Object:  ForeignKey [FK_Entree_Fournisseur]    Script Date: 10/08/2010 09:32:49 ******/
ALTER TABLE [dbo].[Entree]  WITH CHECK ADD  CONSTRAINT [FK_Entree_Fournisseur] FOREIGN KEY([FournisseurID])
REFERENCES [dbo].[Fournisseur] ([FournisseurID])
GO
ALTER TABLE [dbo].[Entree] CHECK CONSTRAINT [FK_Entree_Fournisseur]
GO
